/*Colors*/
:root {
    --primary-color: #18191b;
    --secondary-color: #252626;
    --purple-color: #7432F9;
    --text-color: #fff;
    --green-color: #008F4A;
}

html {
    font-size: 62.5%;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 6rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    margin-bottom: 60px;
    background-color: #18191B;
}

.btn-purple {
    background-color: var(--purple-color);
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

.btn-purple:hover {
    background-color: #8A4BFF;
    color: var(--text-color);
}

.btn-green {
    background-color: #00BF63;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

.btn-green:hover {
    background-color: #008F4A;
    color: var(--text-color);
}

.navbar-brand img {
    height: 2.5rem;
    width: auto;
}

.navbar-brand span {
    transition: all 0.3s ease-in-out;
}

.navbar-brand span:hover {
    color: var(--purple-color);
}

.bg-purple {
    background: #7432F9;
}

.bg-secondary-color {
    background: var(--secondary-color);
}

footer {
    color: var(--text-color)
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--purple-color)
}

.error-msg-link {
    color: #831F29;
    text-decoration: underline;
    transition: all .2s;
}

.error-msg-link:hover {
    color: #FF6F61;
    text-decoration: underline;
}

.nav-link:hover {
    color: var(--purple-color) !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.nav-tabs .nav-link {
    border: none;
    color: white;
    padding: 0.7rem 1.5rem;
    height: auto;
}

.nav-tabs .nav-link.active {
    background-color: #252627;
    color: white;
}

.invalid-input {
    border: 2px solid red;
}

.card-body {
    height: 12rem;
}

.card-img-container {
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
    filter: brightness(80%);
    transition: filter 0.3s ease-in-out;
}

html .swiper-button-next, html .swiper-button-prev {
    color: #fff !important;
}

.how-to-use {
    color: white;
}

.how-to-use:hover {
    color: var(--purple-color);
}

.how-to-use-link {
    text-decoration: underline;
    text-decoration-color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

.how-to-use-link:hover {
    color: var(--primary-color);
    text-decoration-color: var(--primary-color);
}

/*Movie Page styles*/

.overview-container {
    width: 100%;
}

.rate {
    margin-left: 5px;
}

.star {
    font-size: 25px;
    color: lightgray;
    cursor: pointer;
    transition: color 0.2s;
}

.star.selected {
    color: gold;
}

.star.hovered {
    color: gold;
}

.btn-without {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1rem;
    line-height: 1.2;
    background: none;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.btn-without:hover {
    color: var(--purple-color);
}

.user-icon {
    font-size: 3rem;
    border: 4px solid white;
    border-radius: 50%;
    padding: 5px;
    color: white;
}

.actor-link {
    color: #007BFF;
    transition: 0.3s ease-in-out;
}

.actor-link:hover {
    color: #007BFF;
    text-decoration: underline;
}

.movie-title-container {
    width: 50%;
}

.review-content {
    word-break: break-word; 
    overflow-wrap: break-word;
}

/*Profile Page styles*/
.profile_image {
    width: 10rem;
    height: 10rem;
    background-color: var(--secondary-color);
}

.card {
    border: none !important;
}

.card .btn-danger {
    position: absolute;
    z-index: 99;
    right: 0;
}

.movie-poster {
    cursor: pointer;
}

.side-card {
    margin-left: 20px;
}

.side-card .card .card-img-container {
    height: 30rem;
}

.side-btn-container button {
    border: 1px solid #fff;
}

.side-btn-container button i {
    color: #fff;
}

.profile-session {
    position: relative;
}

.custom-alert {
    position: absolute;
    width: 30%;
    right: 0;
    z-index: 99;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.side-card.show {
    animation: slideIn 0.5s forwards;
}

.side-card.hide {
    animation: slideOut 0.5s forwards;
}

#carousel-wrapper {
    display: flex;
    justify-content: center;
}

#advert-carousel {
    width: 60vw;
    margin-top: 30px;
}

.carousel-inner img {
    width: 100%;
    height: 60vh;
}

#carouselExampleIndicators {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    object-fit: cover;
}

.singUp-advert {
    height: auto;
    width: 100px;
    font-weight: bold;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.results {
    max-height: 500px;
    overflow-y: scroll;
}

.dropdown-menu {
    visibility: hidden;
}

.dropdown-item {
    display: flex;
    align-items: center;
    height: 60px;
}

.dropdown-item img {
    height: 50px;
    margin-right: 10px;
}

/*Account page*/

.account-form {
    width: 40vw;
}

.back-btn {
    color: #fff;
    transition: color 0.3s ease;
}

.back-btn:hover {
    color: var(--purple-color);
}

/*Impresssum Styles*/

.impress-card {
    max-width: 800px;
    margin: 0 auto;
    background-color: #212529;
    color: white;
    padding: 2rem;
    border-radius: 10px;
}

.impress-card h5, .impress-card-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.impress-card p, .impress-card-text {
    margin-bottom: 0.5rem;
}

.impress-card-body {
    min-height: 150px;
}

.text-purple {
    color: #7432F9;
}

.bg-dark-gray {
    background-color: #252626;
}


/*Actor's page styles*/

.actor-card {
    transition: transform 0.2s;
}

.actor-card:hover {
    transform: translateY(-5px);
}

.status-badge {
    font-size: 1rem;
    padding: 3px 7px;
}

.occupation-list {
    max-height: 150px;
}

.actor-card-body {
    height: 100%;
}

.image-container {
    width: 100%;
    padding-bottom: 150%;
    position: relative;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Sign Up Page*/

.blue-link {
    color: #007BFF;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.blue-link:hover {
    color: #007BFF;
    text-decoration: underline;
}

.search {
    width: 50%;
}

@media (max-width: 576px) {
    html {
        font-size: .8rem;
    }

    swiper-slide {
        display: flex;
        justify-content: center;
    }

    #advert-carousel {
        width: 100vw;
    }

    .carousel-inner img {
        width: 100%;
        height: 30vh;
    }

    .carousel-caption {
        display: block !important;
        padding: 5px;
    }

    .singUp-advert {
        height: auto;
        padding: 8px;
    }

    .profile-movie-container {
        margin-inline-start: 100px;
    }

    .profile-movie-container__row {
        justify-content: space-between;
    }

    .side-card {
        width: 250px;
    }

    .account-form {
        width: 70vw;
    }

    .movie-title-container {
        width: 100%;
    }

    .search {
        width: 80%;
    }

    .carousel-caption h1 {
        font-size: 1.25rem !important;
    }
    
    .carousel-caption h5 {
        font-size: 1rem !important;
    }
}

@media (min-width: 580px) {
    #advert-carousel {
        width: 100vw;
    }

    .carousel-caption {
        display: block !important;
    }

    .carousel-inner img {
        width: 100%;
        height: 40vh;
    }
}

@media (max-width: 1399px) {
    .side-card {
        position: absolute;
        justify-content: space-around;
        right: 0;
        width: 350px;
        background-color: var(--secondary-color);
        padding: 50px;
        z-index: 100;
        margin-left: 0;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 600px) {
    html {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .movie-trailer-container {
        height: 300px;
    }
}

@media (min-width: 768px) {
    #advert-carousel {
        width: 100vw;
    }

    .carousel-inner img {
        width: 100%;
        height: 55vh;
    }

    .image-container {
        margin-top: 10vh;
    }

    .overview-container {
        width: 50%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .search {
        width: 46%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .search {
        width: 40%;
    }
}

.dropdownMenu {
    display: none; /* Initially hidden */
    position: absolute;
    z-index: 98;
    background-color: #212529;
    padding: 15px;
    width: 200px;
    border-radius: 5px;
    right: 0;
}

.dropdownMenu.show {
    display: flex;
    flex-direction: column;
}

.dropdown-image {
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-color);
    transition: 0.3s ease-in-out;
}

.dropdown-image:hover {
    border: 2px solid var(--purple-color);
}

.nav-item {
    position: relative;
}