/*Colors*/
:root {
    --primary-color: #18191b;
    --secondary-color: #252626;
    --purple-color: #7432F9;
    --text-color: #fff;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 6rem;
    background-color: var(--primary-color);
    color: var(--text-color)
}

.navbar-brand img {
    height: 2.5rem;
    width: auto;
}

.navbar-brand span {
    transition: all 0.3s ease-in-out;
}

.navbar-brand span:hover {
    color: var(--purple-color);
}

.bg-purple {
    background: #7432F9;
}

.bg-secondary-color {
    background: var(--secondary-color);
}

footer {
    color: var(--text-color)
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--purple-color)
}

.nav-link:hover {
    color: var(--purple-color) !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #18191B;
}

.nav-tabs .nav-link {
    border: none;
    color: white;
    padding: 0.7rem 1.5rem;
    height: auto;
}

.nav-tabs .nav-link.active {
    background-color: #252627;
    color: white;
}

.invalid-input {
    border: 2px solid red;
}

.card-body {
    height: 12rem;
}

.card-img-container {
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
    filter: brightness(80%);
    transition: filter 0.3s ease-in-out;
}

html .swiper-button-next, html .swiper-button-prev {
    color: #fff !important;
}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}
