@model Project.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "My Space";
}

<section class="profile-session">
    <div class="container mb-5 d-flex flex-column flex-md-row justify-content-between profile-container content-wrapper">
        <div class="d-flex flex-column flex-md-row gap-3">
            <img src="@Url.Content("~/images/user_profile.png")" class="profile_image rounded-circle overflow-hidden" />

            <h1 class="align-self-md-end" id="user-name">@Model.User.Name</h1>
        </div>

        <div class="align-self-md-end account-btn mt-3 mt-md-0">
            @await Html.PartialAsync("_PrimaryButton", Tuple.Create("Account Settings", "style-2", "", "href=/user/account", "a"))
        </div>
    </div>
    <a id="top"></a>

    @await Html.PartialAsync("_ProfileTabButton",
        Tuple.Create(
            Tuple.Create("Watchlist", "Favorites", "Recommendations", "Ratings","Reviews"),
            await Html.PartialAsync("_ProfileMovieListComponent", Tuple.Create(Model.Watchlist, true, "/Movies/DestroyWatchlistMovieFromProfile")),
            await Html.PartialAsync("_ProfileMovieListComponent", Tuple.Create(Model.Favorites, true, "/Movies/DestroyFavoriteMovieFromProfile")),
            await Html.PartialAsync("_ProfileMovieListComponent", Tuple.Create(Model.Recommendations, false, "")),
            await Html.PartialAsync("_RatingListComponent", Tuple.Create(Model.Ratings, true, "")),
            await Html.PartialAsync("_ProfileReviews", Model.Reviews)
        ))
</section>
