@model Project.Models.ProfileViewModel

@{
    ViewData["Title"] = "My Space";
}

<section>
    <div class="container mb-5 d-flex justify-content-between">
        <div class="d-flex gap-3">
            <img src="@Url.Content("~/images/user_profile.png")" class="profile_image rounded-circle overflow-hidden" />

            <h1 class="align-self-end">@Model.User.Name</h1>
        </div>

        <div class="align-self-end account-btn">
            @await Html.PartialAsync("_PrimaryButton", Tuple.Create("Account Settings", "style-2", "", "href=/user/account", "a"))
        </div>
    </div>
    <a id="top"></a>

    @await Html.PartialAsync("_ProfileTabButton",
        Tuple.Create("Watchlist", "Favorites", "Recommendations",
        await Html.PartialAsync("_ProfileMovieListComponent", Tuple.Create(Model.Watchlist, true, "/Movies/DestroyWatchlistMovie")),
        await Html.PartialAsync("_ProfileMovieListComponent", Tuple.Create(Model.Favorites, true, "/Movies/DestroyFavoriteMovie")),
        await Html.PartialAsync("_ProfileMovieListComponent", Tuple.Create(Model.Recommendations, false, ""))
        ))
</section>
