@{
ViewData["Title"] = "Info";
}

<div class="container mt-5">
    <div class="impress mb-5">
        <h1 class="mb-4 text-white">Impress</h1>
        <div class="impress-card">
            <h5>Project Title: PixelPrime</h5>
            <p><strong>School:</strong><br>
                ITS Stuttgart</p>
            <p><strong>Class:</strong><br>
                E2FI5</p>
        </div>
    </div>

    <div class="information mb-5">
        <h1 class="mb-4">Information</h1>
        <p class="lead mb-5">This project was developed as part of the software engineering apprenticeship program at ITS Stuttgart. It represents the culmination of our second-year studies, showcasing the skills and knowledge we've acquired throughout our training.</p>
    </div>

    <div class="repo-card mb-5">
        <div class="card bg-dark text-white">
            <div class="card-body impress-card-body d-flex flex-column flex-sm-row align-items-center">
                <div class="mb-3 mb-sm-0 me-sm-4">
                    <img src="~/images/pixel_prime_logo.png" alt="PixelPrime Logo" class="img-fluid" style="max-width: 100px;">
                </div>
                <div>
                    <h5 class="card-title impress-card-title">PixelPrime</h5>
                    <h6 class="card-subtitle mb-2 text-muted">GitHub Repository</h6>
                    <p class="card-text impress-card-text">Check out our project repository on GitHub for more details and source code.</p>
                    @await Html.PartialAsync("_PrimaryButton",
                    Tuple.Create(
                    "View on GitHub",
                    "style-1",
                    "",
                    "href=https://github.com/Maxiboy441/PixelPrime target=_blank",
                    "a"))
                </div>
            </div>
        </div>
    </div>
</div>