@model Tuple<string, string, string, string, string>

@{
    var movieId = Model.Item1;
    var formAction = Model.Item2;
    var deleteMessage = Model.Item3;
    var btnText = Model.Item4;
    var customClass = Model.Item5;
}

@await Html.PartialAsync("_PrimaryButton", Tuple.Create(
    btnText,
    "",
    "btn btn-red btn-sm",
    "type=button data-toggle=modal data-target=#deleteConfirmationModal",
    "button")
)

<div class="modal" id="deleteConfirmationModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="text-dark">@deleteMessage</h6>
                <form action="@formAction" method="post">
                    <input type="hidden" name="movieId" value="@movieId" />
                    <div class="modal-footer">
                        @await Html.PartialAsync("_PrimaryButton",
                            Tuple.Create(
                                "Close",
                                "",
                                "btn btn-secondary",
                                "type=button data-dismiss=modal",
                                "button")
                            )

                        @await Html.PartialAsync("_PrimaryButton",
                            Tuple.Create(
                                "Delete",
                                "",
                                $"btn btn-red {customClass}",
                                "type=submit",
                                "button")
                            )
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
