<div class="container">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn btn-close" data-dismiss="alert" aria-label="Close" />
        </div>
    }
    else if (TempData["FailMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @Html.Raw(TempData["FailMessage"])
            <button type="button" class="btn btn-close" data-dismiss="alert" aria-label="Close" />
        </div>
    }
</div>