<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Pixel Prime</title>
    <!-- Standard favicon -->
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">

    <!-- Apple Touch Icon (iPhone, iPod, iPad) -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon.png">

    <!-- Android and Microsoft Tile -->
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="~/images/android-chrome-512x512.png">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Project.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<header>
    @await Html.PartialAsync("_NavBar")
</header>
<div>
    <main role="main" class="pb-3">
        @Html.Partial("_FlashMessages")

        @RenderBody()
    </main>
</div>

<footer class="bg-secondary-color footer text-light">
    <div class="container text-center">
        &copy; 2024 - PixelPrime - <a asp-area="" asp-controller="Home" asp-action="Impressum">Impressum</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/rating.js" asp-append-version="true"></script>
<script src="~/js/apiSearch.js" asp-append-version="true"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>