<!-- Tuple<"Director", Movie.Director > -->

@model Tuple<string, string, string> 

@{
    var overviewTitle = Model.Item1;
    var overviewProperty = Model.Item2;
    var overviewClass = Model.Item3;
}

<div class="@overviewClass">
    <h5 class="fw-bold">@overviewTitle: </h5>
    <p>@overviewProperty</p>
</div>