<nav class="navbar navbar-expand-lg navbar-dark container mb-5">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">PixelPrime</a>
        <button class="navbar-toggler bg-purple" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <form class="d-flex w-75">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                @await Html.PartialAsync("_PrimaryButton", Tuple.Create("Search", "style-2","","type=submit","button"))
            </form>
            <ul class="navbar-nav justify-content-around w-50 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/Identity/Account/Login" tabindex="-1">Sign In</a>
                </li>
            </ul>            
        </div>
    </div>
</nav>