@using Microsoft.AspNetCore.Http

<nav class="navbar navbar-expand-lg navbar-dark container">
    <div class="container-fluid">
        <div class="d-flex align-items-center mx-auto mx-md-0">
            <a class="navbar-brand text-light" asp-controller="Home" asp-action="Index">
                <img src="~/images/pixel_prime_logo.png" alt="pixel prime logo" />
                <span>PixelPrime</span>
            </a>
        </div>
        <div class="d-flex search">

        </div>

        <div class="justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-end w-100 mb-lg-0 gap-1 gap-md-3 align-items-md-center">
                @* <li class="nav-item"> *@
                @*     <a class="nav-link text-light" asp-controller="Profile" asp-action="Index">My Space</a> *@
                @* </li> *@
                <li class="nav-item position-relative">
                    @if (string.IsNullOrEmpty(Context.Session.GetString("CurrentUser")))
                    {
                        <a class="nav-link text-light" asp-controller="Auth" asp-action="Login" tabindex="-1">Sign In</a>
                    }
                    else
                    {
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropMenu" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="@Url.Content("~/images/user_profile.png")" class="dropdown-image rounded-circle overflow-hidden" />
                    </a>

                    <div class="dropdownMenu gap-3" aria-labelledby="navbarDropMenu">
                        <a class="nav-link text-light" asp-controller="Profile" asp-action="Index">My Space</a>
                        <a class="nav-link text-light" href="/user/account">Account Settings</a>
                        <a class="nav-link text-light" href="/how-to-use">How to Use</a>
                        @await Html.PartialAsync("_PrimaryButton", Tuple.Create("Logout", "style-1", "", "href=/Auth/Logout", "a"))
                    </div>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>