@using Microsoft.AspNetCore.Http

<nav class="navbar navbar-expand-lg navbar-dark container mb-5">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">
            <img src="~/images/pixel_prime_logo.png" alt="pixel prime logo" />
            <span>PixelPrime</span>
        </a>
        <button class="navbar-toggler bg-purple" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="d-flex w-75 search">

            </div>
            <ul class="navbar-nav justify-content-around w-50 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-controller="Profile" asp-action="Index">My Space</a>
                </li>
                <li class="nav-item">
                    @if (string.IsNullOrEmpty(Context.Session.GetString("CurrentUser")))
                    {
                        <a class="nav-link text-light" asp-controller="Auth" asp-action="Login" tabindex="-1">Sign In</a>
                    }
                    else
                    {
                        @await Html.PartialAsync("_PrimaryButton", Tuple.Create("Logout", "style-1", "", "href=/Auth/Logout", "a"))
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>