@page
@model LoginModel

@{
ViewData["Title"] = "Sign In";
}

<div class="d-flex justify-content-center align-content-center">
    <div class="scaffold">
        <form id="account" method="post">
            <h2 class="text-center fw-bold mb-4 display-6">Welcome Back!</h2>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <label asp-for="Input.Email" class="col-md-4 col-form-label">Username</label>
            
            <div class="mb-3 align-items-left">
                <input asp-for="Input.Email" class="form-control w-100 rounded-pill mb-2" autocomplete="username" aria-required="true" placeholder="Username"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <label asp-for="Input.Password" class="col-md-4 col-form-label">Password</label>
            
            <div class="mb-3 align-items-left">
                <input asp-for="Input.Password" class="form-control w-100 rounded-pill mb-2" autocomplete="password" aria-required="true" placeholder="Password"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="mb-4 mt-4">
                <button id="login-submit" type="submit" class="w-100 btn fw-bold" style="background: #7432F9">Login</button>
            </div>
            
            <div class="d-flex flex-column justify-content-center align-items-center" style="margin-left: 30px">
                <hr class="w-75 text-light"/>
                <a class="w-75 btn btn-primary btn-success fw-bold" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create new account</a>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
