@model Project.Models.ViewModels.AccountViewModel

@{
    ViewData["Title"] = "Account";
}

<section class="container">
    <a href="/profile" class="back-btn"><i class="fa-solid fa-arrow-left fa-2xl mr-3"></i> Go back</a>
    <div class="row d-flex justify-content-center align-items-center p-5">
        <div class="account-form">
            <form asp-action="Update" asp-controller="User" method="post" class="rounded p-5 bg-secondary-color ">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center fw-bold mb-4 display-6">Update Account</h2>

                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <label asp-for="Name" class="col-form-label align-self-start">Change Name</label>
                    <input asp-for="Name" class="form-control w-100 rounded-pill mb-2" type="text" name="name" id="name" autocomplete="name" aria-required="true" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                    <label asp-for="Email" class="col-form-label align-self-start">Change Email</label>
                    <input asp-for="Email" class="form-control w-100 rounded-pill mb-2" type="email" name="email" id="email" autocomplete="email" aria-required="true" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <label asp-for="Password" class="col-form-label align-self-start">Change Password</label>
                    <input asp-for="Password" class="form-control w-100 rounded-pill mb-2" type="password" name="password" id="password" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <label asp-for="PasswordConfirmation" class="col-form-label align-self-start">Confirm Password</label>
                    <input asp-for="PasswordConfirmation" class="form-control w-100 rounded-pill mb-2" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirm Password" />
                    <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>

                    <button type="button" class="w-25 btn fw-bold rounded-pill text-white mb-3 mt-3 btn-green">
                        Save
                    </button>

                    <div class="modal fade" id="updateAccountForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered text-dark" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Confirm Update</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to update your account?
                                </div>
                                <div class="modal-footer">
                                    @await Html.PartialAsync("_PrimaryButton", Tuple.Create("Cancel", "", "btn btn-danger", "type=button data-dismiss=modal", "button"))
                                    @await Html.PartialAsync("_PrimaryButton", Tuple.Create("Save changes", "", "btn btn-green", "type=submit", "button"))
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="emptyFieldsModal" tabindex="-1" role="dialog" aria-labelledby="emptyFieldsModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered text-dark" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="emptyFieldsModalLabel">Form Incomplete</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Please fill out all any field before saving.
                                </div>
                                <div class="modal-footer">
                                    @await Html.PartialAsync("_PrimaryButton", Tuple.Create("Ok", "style-1", "", "type=button data-dismiss=modal", "button"))
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>

<script>
    document.querySelector('.btn-green').addEventListener('click', function () {
        var name = document.getElementById('name').value.trim();
        var email = document.getElementById('email').value.trim();
        var password = document.getElementById('password').value.trim();
        var passwordConfirmation = document.getElementById('passwordConfirmation').value.trim();

        if (name === "" && email === "" && password === "" && passwordConfirmation === "") {
            // Show the empty fields modal
            var emptyFieldsModal = new bootstrap.Modal(document.getElementById('emptyFieldsModal'));
            emptyFieldsModal.show();
        } else {
            // Show the confirmation modal
            var confirmModal = new bootstrap.Modal(document.getElementById('updateAccountForm'));
            confirmModal.show();
        }
    });
</script>
