@model User
@{
    ViewData["Title"] = "Sign Up";
}

<section>
    <div class="row d-flex justify-content-center align-items-center p-5">
        <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <form asp-action="SignUp" method="post" class="rounded p-4 bg-secondary-color">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center fw-bold mb-4">Create Account</h2>

                    <div asp-validation-summary="ModelOnly" class="text-danger w-100" role="alert"></div>

                    <div class="form-group w-100">
                        <label asp-for="Name" class="col-form-label">Name</label>
                        <input asp-for="Name" class="form-control rounded-pill mb-2" type="text" autocomplete="name" aria-required="true" placeholder="Name" autofocus />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group w-100">
                        <label asp-for="Email" class="col-form-label">Email</label>
                        <input asp-for="Email" class="form-control rounded-pill mb-2" type="email" autocomplete="email" aria-required="true" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group w-100">
                        <label asp-for="Password" class="col-form-label">Password</label>
                        <input asp-for="Password" class="form-control rounded-pill mb-2" type="password" aria-required="true" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group w-100">
                        <label asp-for="PasswordConfirmation" class="col-form-label">Confirm Password</label>
                        <input asp-for="PasswordConfirmation" class="form-control rounded-pill mb-2" type="password" aria-required="true" placeholder="Confirm Password" />
                        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                    </div>

                    <button type="submit" class="w-100 btn fw-bold rounded-pill text-white mb-3 mt-3" style="background: #7432F9">Sign Up</button>

                    <p>By signing up, you agree to Pixel Prime's <a class="blue-link" data-toggle="modal" data-target="#termsModal">Terms and Conditions</a>.</p>

                    <div class="modal text-dark" id="termsModal">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="d-flex justify-content-between flex-column">
                                    <div class="modal-header">
                                        <div>
                                            <h5 class="modal-title text-dark" id="exampleModalLongTitle">Terms and Conditions</h5>
                                        </div>
                                        <div>
                                            @await Html.PartialAsync("_PrimaryButton", Tuple.Create("X", "", "btn-without pe-auto", "type=button data-dismiss=modal", "button"))
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <ol>
                                            <li>
                                                Introduction
                                                <p>
                                                    Welcome to Pixel Prime! These Terms and Conditions ("Terms") govern your access to and use of the website operated by Maximilian Huber located at Rümpflestr. 14/1, 71665 Horrheim, and available at <a class="blue-link" href="https://pixelprime.maxih.de" target="_blank">pixelprime.maxih.de</a>. By using our website, you agree to comply with these Terms.
                                                    If you do not agree, please refrain from using the website.
                                                </p>
                                            </li>
                                            <li>
                                                Eligibility
                                                <p>You must be at least 18 years of age or older to use this website. By using this website, you represent and warrant that you meet this requirement.</p>
                                            </li>
                                            <li>
                                                Account Registration
                                                <p>To access certain features, you may need to register and create an account. You are responsible for maintaining the confidentiality of your login information and for all activities that occur under your account. Please notify us immediately if you suspect any unauthorized access to your account.</p>
                                            </li>
                                            <li>
                                                User Obligations
                                                <p>You agree not to:</p>
                                                <ul>
                                                    <li>Use the website for any unlawful purpose.</li>
                                                    <li>
                                                        Post or transmit content that is harmful, abusive, defamatory, or otherwise objectionable.
                                                    </li>
                                                    <li>
                                                        Violate the intellectual property rights of the website or any third party.
                                                    </li>
                                                    <li>
                                                        <p>Attempt to interfere with the operation or security of the website.</p>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Intellectual Property
                                                <p>All content on this website, including text, graphics, logos, and software, is the property of Pixel Prime or its content suppliers and is protected by copyright and trademark laws. You are not permitted to use, reproduce, or distribute any content without prior written permission.</p>
                                            </li>
                                            <li>
                                                Limitation of Liability
                                                <p>To the fullest extent permitted by law, we disclaim all liability for any damages arising out of or in connection with your use of the website, including but not limited to direct, indirect, incidental, or consequential damages.</p>
                                            </li>
                                            <li>
                                                Availability of Service
                                                <p>We aim to provide uninterrupted access to the website, but we do not guarantee that the website will always be available. We may suspend or terminate access to the website at any time without notice for technical, legal, or other reasons.</p>
                                            </li>
                                            <li>
                                                External Links
                                                <p>The website may contain links to third-party websites or services that are not under our control. We are not responsible for the content or availability of such websites and services. You access them at your own risk.</p>
                                            </li>
                                            <li>
                                                Privacy Policy
                                                <p>Our Privacy Policy, which outlines how we collect and process personal data, is an integral part of these Terms. By using this website, you agree to the terms of our Privacy Policy.                                            </p>
                                            </li>
                                            <li>
                                                Modifications to Terms
                                                <p>We reserve the right to update or modify these Terms at any time. Any changes will be effective upon posting the revised Terms on the website. It is your responsibility to review these Terms periodically.                                            </p>
                                            </li>
                                            <li>
                                                Termination
                                                <p>We may terminate or suspend your access to the website at our sole discretion, without prior notice, for conduct that violates these Terms or is otherwise harmful to our interests.</p>
                                            </li>
                                            <li>
                                                Governing Law
                                                <p>These Terms are governed by the laws of Germany. Any disputes arising under or in connection with these Terms will be subject to the exclusive jurisdiction of the courts located in Germany.</p>
                                            </li>
                                            <li>
                                                Contact Information
                                                <p>If you have any questions about these Terms, please contact: Maximilian Huber</p>
                                                <p>Rümpflestr. 14/1</p>
                                                <p>71665 Horrheim</p>
                                                <p>Email: <a class="blue-link" href="mailto:Maxiboy44YT@gmail.com">Maxiboy44YT@gmail.com</a></p>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
