@model User
@{
    ViewData["Title"] = "Sign Up";
}

<section>
    <div class="row d-flex justify-content-center align-items-center p-5">
        <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <form asp-action="SignUp" method="post" class="rounded p-4 bg-secondary-color">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center fw-bold mb-4">Create Account</h2>

                    <div asp-validation-summary="ModelOnly" class="text-danger w-100" role="alert"></div>

                    <div class="form-group w-100">
                        <label asp-for="Name" class="col-form-label">Name</label>
                        <input asp-for="Name" class="form-control rounded-pill mb-2" type="text" autocomplete="name" aria-required="true" placeholder="Name" autofocus />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group w-100">
                        <label asp-for="Email" class="col-form-label">Email</label>
                        <input asp-for="Email" class="form-control rounded-pill mb-2" type="email" autocomplete="email" aria-required="true" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group w-100">
                        <label asp-for="Password" class="col-form-label">Password</label>
                        <input asp-for="Password" class="form-control rounded-pill mb-2" type="password" aria-required="true" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group w-100">
                        <label asp-for="PasswordConfirmation" class="col-form-label">Confirm Password</label>
                        <input asp-for="PasswordConfirmation" class="form-control rounded-pill mb-2" type="password" aria-required="true" placeholder="Confirm Password" />
                        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                    </div>

                    <button type="submit" class="w-100 btn fw-bold rounded-pill text-white mb-3 mt-3" style="background: #7432F9">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</section>
