@model User
@{
    ViewData["Title"] = "Sign Up";
}

<div class="d-flex justify-content-center align-content-center">
    <div class="scaffold">
        <form id="registerForm" asp-action="SignUp" method="post">
            <h2 class="text-center fw-bold mb-4 display-6">Create Account</h2>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="mb-3">
                <label asp-for="Name" class="col-form-label">Name</label>
                <input asp-for="Name" class="form-control w-100 rounded-pill mb-2" type="text" name="name" id="name" autocomplete="Name" aria-required="true" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="col-form-label">Email</label>
                <input asp-for="Email" class="form-control w-100 rounded-pill mb-2" type="email" name="email" id="email" autocomplete="Email" aria-required="true" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="col-form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control w-100 rounded-pill mb-2" name="password" id="password" autocomplete="password" aria-required="true" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="col-form-label">Confirm Password</label>
                <input class="form-control w-100 rounded-pill mb-2" type="password" name="passwordConfirmation" id="passwordConfirmation" aria-required="true" placeholder="Confirm Password" />
                <span class="text-danger"></span>
            </div>

            <div class="mb-4 mt-4">
                <button id="registerSubmit" type="submit" class="w-100 btn fw-bold" style="background: #7432F9">Sign Up</button>
            </div>
        </form>
    </div>
</div>